body,
html {
    margin: 0;
    padding: 0;
    background-color: #1C1C1EFF;
}

.navbar {
    height: 3rem;
    width: 100%;
    /* background-color: rgb(131, 94, 161); */
    background-color: #2C2C2EFF;
    display: flex;
    align-items: center;
    justify-content: start;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.page-body {
    padding-left: 2rem;
}

.title {
    margin-top: 5em;
    margin-bottom: 2em;
    color: white;
}

.description {
    color: white;
}
